<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ca907e">  <td>18/05/09 16:07:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.LaunchApp()[pri:0, instance:com.maps.testscripts.SearchTest@484970b0]">&gt;&gt;LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@857068247</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>18/05/09 16:08:10</td>   <td>53425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTest.loginCheck(java.util.Map)[pri:0, instance:com.maps.testscripts.SearchTest@484970b0]">loginCheck</td> 
  <td>main@857068247</td>   <td></td> </tr>
<tr bgcolor="aaf0a4">  <td>18/05/09 16:08:51</td>   <td>94609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTest.loginCheck(java.util.Map)[pri:0, instance:com.maps.testscripts.SearchTest@484970b0]">loginCheck</td> 
  <td>main@857068247</td>   <td></td> </tr>
</table>
